/*This is the Stylesheet that I made with the help of W3 and Youtube. Alot of videos and reading*/
body {
    background-color: rgb(106, 174, 226);
    font-size: 18px;
    font-family: "Helvetica";
    font-weight: 100;
    font-style: normal;
    color: #ffffff;
    margin: 0px;
    margin-top: auto;
  }

.parallax {
  background-image: url("images/pexels-pixabay-531880.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
  list-style-type: none;
  background-color: hsl(0, 0%, 10%);
  padding: 0px;
  padding-top: 2.5em;
  margin: 0px;
  overflow: hidden;
  transition: 1s;
}

h2 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 75;
    color: rgb(255, 255, 255);
    margin-left: 40px;
  }

a {
  color: #ffffff;
}

a:hover {
  color: greenyellow;
}

p {
    color: rgb(255, 255, 255);
    margin-left: 50px;
  }

q {
    color: rgb(255, 255, 255);
    margin: 60px;
  }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
  
.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 10%);
  padding: 0;
  margin: 0;
  overflow:auto;
  }

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 25%);
  font-weight: bold;
  border-radius: 15%;
  border: #ffffff;
  border-style: double;
}

.navbar li {
  float: left;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 2px hsl(0, 0%, 50%);
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical
}

input[type=submit]:hover {
  color: hsl(0, 0%, 75%);
  background-color: hsl(0, 0%, 25%);
}
.container {
  margin: 50px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 10%);
  padding: 20px;
}