body {
    background-color: rgb(106, 174, 226);
  }
  
  h2 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
  }

  p {
    color: rgb(246, 224, 57);
    margin-left: 20px;
  }

  q {
    color: rgb(246, 82, 57);
    margin-left: 20px;
  }

  {
    background-image: url("pexels-pixabay-531880.jpg");
  }